inotado-api/api/resources/xsd/schoolchapters/CourseDocument.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CourseDocument">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="course_id" />
				<xs:element type="xs:string" name="created_at" />
				<xs:element type="xs:int" name="display_order" />
				<xs:element type="xs:int" name="document_id" />
				<xs:element type="xs:int" name="id" />
				<xs:element type="xs:string" name="updated_at" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>