inotado-api/api/resources/xsd/schoolchapters/CourseStandard.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CourseStandard">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="course_id" />
				<xs:element type="xs:string" name="created_at" />
				<xs:element type="xs:string" name="forkable" />
				<xs:element type="xs:int" name="id" />
				<xs:element type="xs:int" name="standard_id" />
				<xs:element type="xs:string" name="updated_at" />
				<xs:element type="xs:string" name="writable" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>