inotado-api/api/resources/xsd/schoolchapters/Grade.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Grade">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="bonus_score" />
				<xs:element type="xs:string" name="created_at" />
				<xs:element type="xs:string" name="grade_parts" />
				<xs:element type="xs:int" name="id" />
				<xs:element type="xs:string" name="penalty_percent" />
				<xs:element type="xs:int" name="rubric_id" />
				<xs:element type="xs:double" name="total_score" />
				<xs:element type="xs:string" name="updated_at" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>