inotado-api/api/resources/xsd/schoolchapters/Rubric.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Rubric">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="annotation" />
				<xs:element type="xs:int" name="base_score" />
				<xs:element type="xs:string" name="created_at" />
				<xs:element type="xs:int" name="id" />
				<xs:element type="xs:string" name="name" />
				<xs:element type="xs:double" name="perfect_score" />
				<xs:element type="xs:string" name="rubric_criterions" />
				<xs:element type="xs:string" name="updated_at" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>